html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#grid {
  width: 100%;
}
.line {
  height: 100%;
  display: block;
}
.line .block {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  overflow: hidden;
  margin: 20px;
}
@media (min-width: 320px) {
  .line,
  .line.scroll {
    width: 100%;
  }
  .line .wrap,
  .line.scroll .wrap {
    width: 280px;
    height: 100%;
    margin: 0 auto;
  }
  .line .block:nth-last-child(1):first-child,
  .line .block:nth-last-child(1):first-child ~ .block {
    width: 240px;
  }
  .line.right-main .block:nth-last-child(2):first-child {
    width: 53.33333333333333px;
  }
  .line.right-main .block:nth-last-child(2):first-child ~ .block {
    width: 146.66666666666669px;
  }
  .line.left-main .block:nth-last-child(2):first-child {
    width: 146.66666666666669px;
  }
  .line.left-main .block:nth-last-child(2):first-child ~ .block {
    width: 53.33333333333333px;
  }
  .line.right-main .block:nth-last-child(2):first-child,
  .line.left-main .block:nth-last-child(2):first-child,
  .line.right-main .block:nth-last-child(2):first-child ~ .block,
  .line.left-main .block:nth-last-child(2):first-child ~ .block {
    width: 240px;
  }
  .line .block:nth-last-child(3):first-child,
  .line.vertical .block:nth-last-child(3):first-child,
  .line.horizontal .block:nth-last-child(3):first-child,
  .line .block:nth-last-child(3):first-child ~ .block,
  .line.vertical .block:nth-last-child(3):first-child ~ .block,
  .line.horizontal .block:nth-last-child(3):first-child ~ .block,
  .line .block:nth-last-child(6):first-child,
  .line.vertical .block:nth-last-child(6):first-child,
  .line.horizontal .block:nth-last-child(6):first-child,
  .line .block:nth-last-child(6):first-child ~ .block,
  .line.vertical .block:nth-last-child(6):first-child ~ .block,
  .line.horizontal .block:nth-last-child(6):first-child ~ .block {
    width: 240px;
  }
  .line .block:nth-last-child(5):first-child,
  .line.vertical .block:nth-last-child(5):first-child,
  .line.horizontal .block:nth-last-child(5):first-child,
  .line .block:nth-last-child(5):first-child ~ .block,
  .line.vertical .block:nth-last-child(5):first-child ~ .block,
  .line.horizontal .block:nth-last-child(5):first-child ~ .block {
    width: 240px;
  }
  .line.vertical .block:nth-last-child(2):first-child,
  .line.vertical .block:nth-last-child(2):first-child ~ .block,
  .line.vertical .block:nth-last-child(4):first-child,
  .line.vertical .block:nth-last-child(4):first-child ~ .block {
    width: 100px;
  }
  .line.horizontal .block:nth-last-child(2):first-child,
  .line.horizontal .block:nth-last-child(2):first-child ~ .block,
  .line.horizontal .block:nth-last-child(4):first-child,
  .line.horizontal .block:nth-last-child(4):first-child ~ .block {
    width: 240px;
  }
  .line.scroll {
    overflow: scroll;
    width: 90%;
    margin: 0 auto;
  }
  .line.scroll .wrap {
    width: 5000px;
    overflow: initial;
  }
  .line.scroll .block:nth-last-child(3):first-child,
  .line.scroll .block:nth-last-child(3):first-child ~ .block,
  .line.scroll .block:nth-last-child(5):first-child,
  .line.scroll .block:nth-last-child(5):first-child ~ .block,
  .line.scroll .block:nth-last-child(6):first-child,
  .line.scroll .block:nth-last-child(6):first-child ~ .block {
    width: 240px;
    float: left;
  }
}
@media (min-width: 768px) {
  .line,
  .line.scroll {
    width: 100%;
  }
  .line .wrap,
  .line.scroll .wrap {
    width: 720px;
    height: 100%;
    margin: 0 auto;
  }
  .line .block:nth-last-child(1):first-child,
  .line .block:nth-last-child(1):first-child ~ .block {
    width: 680px;
  }
  .line.right-main .block:nth-last-child(2):first-child {
    width: 200px;
  }
  .line.right-main .block:nth-last-child(2):first-child ~ .block {
    width: 440px;
  }
  .line.left-main .block:nth-last-child(2):first-child {
    width: 440px;
  }
  .line.left-main .block:nth-last-child(2):first-child ~ .block {
    width: 200px;
  }
  .line.vertical .block:nth-last-child(3):first-child,
  .line.vertical .block:nth-last-child(3):first-child ~ .block {
    width: 200px;
  }
  .line.vertical .block:nth-last-child(4):first-child,
  .line.vertical .block:nth-last-child(4):first-child ~ .block {
    width: 320px;
  }
  .line.vertical .block:nth-last-child(6):first-child,
  .line.vertical .block:nth-last-child(6):first-child ~ .block {
    width: 200px;
  }
  .line.horizontal .block:nth-last-child(3):first-child,
  .line.horizontal .block:nth-last-child(3):first-child ~ .block,
  .line.horizontal .block:nth-last-child(4):first-child,
  .line.horizontal .block:nth-last-child(4):first-child ~ .block {
    width: 680px;
  }
  .line.horizontal .block:nth-last-child(6):first-child,
  .line.horizontal .block:nth-last-child(6):first-child ~ .block {
    width: 320px;
  }
  .line.horizontal .block:nth-last-child(5):first-child,
  .line.horizontal .block:nth-last-child(5):first-child ~ .block {
    width: 680px;
  }
  .line.scroll {
    overflow: scroll;
    width: 90%;
    margin: 0 auto;
  }
  .line.scroll .wrap {
    width: 5000px;
    overflow: initial;
  }
  .line.scroll .block:nth-last-child(3):first-child,
  .line.scroll .block:nth-last-child(3):first-child ~ .block,
  .line.scroll .block:nth-last-child(5):first-child,
  .line.scroll .block:nth-last-child(5):first-child ~ .block,
  .line.scroll .block:nth-last-child(6):first-child,
  .line.scroll .block:nth-last-child(6):first-child ~ .block {
    width: 320px;
    float: left;
  }
}
@media (min-width: 1024px) {
  .line,
  .line.scroll {
    width: 100%;
  }
  .line .wrap,
  .line.scroll .wrap {
    width: 960px;
    height: 100%;
    margin: 0 auto;
  }
  .line .block:nth-last-child(1):first-child,
  .line .block:nth-last-child(1):first-child ~ .block {
    width: 920px;
  }
  .line.right-main .block:nth-last-child(2):first-child {
    width: 280px;
  }
  .line.right-main .block:nth-last-child(2):first-child ~ .block {
    width: 600px;
  }
  .line.left-main .block:nth-last-child(2):first-child {
    width: 600px;
  }
  .line.left-main .block:nth-last-child(2):first-child ~ .block {
    width: 280px;
  }
  .line .block:nth-last-child(2):first-child,
  .line.vertical .block:nth-last-child(2):first-child,
  .line.horizontal .block:nth-last-child(2):first-child,
  .line.scroll .block:nth-last-child(2):first-child,
  .line .block:nth-last-child(2):first-child ~ .block,
  .line.vertical .block:nth-last-child(2):first-child ~ .block,
  .line.horizontal .block:nth-last-child(2):first-child ~ .block,
  .line.scroll .block:nth-last-child(2):first-child ~ .block {
    width: 440px;
  }
  .line .block:nth-last-child(3):first-child,
  .line.vertical .block:nth-last-child(3):first-child,
  .line.horizontal .block:nth-last-child(3):first-child,
  .line.scroll .block:nth-last-child(3):first-child,
  .line .block:nth-last-child(3):first-child ~ .block,
  .line.vertical .block:nth-last-child(3):first-child ~ .block,
  .line.horizontal .block:nth-last-child(3):first-child ~ .block,
  .line.scroll .block:nth-last-child(3):first-child ~ .block {
    width: 280px;
  }
  .line .block:nth-last-child(4):first-child,
  .line.vertical .block:nth-last-child(4):first-child,
  .line.horizontal .block:nth-last-child(4):first-child,
  .line.scroll .block:nth-last-child(4):first-child,
  .line .block:nth-last-child(4):first-child ~ .block,
  .line.vertical .block:nth-last-child(4):first-child ~ .block,
  .line.horizontal .block:nth-last-child(4):first-child ~ .block,
  .line.scroll .block:nth-last-child(4):first-child ~ .block {
    width: 200px;
  }
  .line .block:nth-last-child(5):first-child,
  .line.vertical .block:nth-last-child(5):first-child,
  .line.horizontal .block:nth-last-child(5):first-child,
  .line.scroll .block:nth-last-child(5):first-child,
  .line .block:nth-last-child(5):first-child ~ .block,
  .line.vertical .block:nth-last-child(5):first-child ~ .block,
  .line.horizontal .block:nth-last-child(5):first-child ~ .block,
  .line.scroll .block:nth-last-child(5):first-child ~ .block {
    width: 152px;
  }
  .line .block:nth-last-child(6):first-child,
  .line.vertical .block:nth-last-child(6):first-child,
  .line .block:nth-last-child(6):first-child ~ .block,
  .line.vertical .block:nth-last-child(6):first-child ~ .block {
    width: 120px;
  }
  .line.horizontal .block:nth-last-child(6):first-child,
  .line.horizontal .block:nth-last-child(6):first-child ~ .block {
    width: 280px;
  }
}
@media (min-width: 1280px) {
  .line,
  .line.scroll {
    width: 100%;
  }
  .line .wrap,
  .line.scroll .wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .line .block:nth-last-child(1):first-child,
  .line .block:nth-last-child(1):first-child ~ .block {
    width: 1160px;
  }
  .line.right-main .block:nth-last-child(2):first-child {
    width: 360px;
  }
  .line.right-main .block:nth-last-child(2):first-child ~ .block {
    width: 760px;
  }
  .line.left-main .block:nth-last-child(2):first-child {
    width: 760px;
  }
  .line.left-main .block:nth-last-child(2):first-child ~ .block {
    width: 360px;
  }
  .line .block:nth-last-child(2):first-child,
  .line.vertical .block:nth-last-child(2):first-child,
  .line.horizontal .block:nth-last-child(2):first-child,
  .line.scroll .block:nth-last-child(2):first-child,
  .line .block:nth-last-child(2):first-child ~ .block,
  .line.vertical .block:nth-last-child(2):first-child ~ .block,
  .line.horizontal .block:nth-last-child(2):first-child ~ .block,
  .line.scroll .block:nth-last-child(2):first-child ~ .block {
    width: 560px;
  }
  .line .block:nth-last-child(3):first-child,
  .line.vertical .block:nth-last-child(3):first-child,
  .line.horizontal .block:nth-last-child(3):first-child,
  .line.scroll .block:nth-last-child(3):first-child,
  .line .block:nth-last-child(3):first-child ~ .block,
  .line.vertical .block:nth-last-child(3):first-child ~ .block,
  .line.horizontal .block:nth-last-child(3):first-child ~ .block,
  .line.scroll .block:nth-last-child(3):first-child ~ .block {
    width: 360px;
  }
  .line .block:nth-last-child(4):first-child,
  .line.vertical .block:nth-last-child(4):first-child,
  .line.horizontal .block:nth-last-child(4):first-child,
  .line.scroll .block:nth-last-child(4):first-child,
  .line .block:nth-last-child(4):first-child ~ .block,
  .line.vertical .block:nth-last-child(4):first-child ~ .block,
  .line.horizontal .block:nth-last-child(4):first-child ~ .block,
  .line.scroll .block:nth-last-child(4):first-child ~ .block {
    width: 260px;
  }
  .line .block:nth-last-child(5):first-child,
  .line.vertical .block:nth-last-child(5):first-child,
  .line.horizontal .block:nth-last-child(5):first-child,
  .line.scroll .block:nth-last-child(5):first-child,
  .line .block:nth-last-child(5):first-child ~ .block,
  .line.vertical .block:nth-last-child(5):first-child ~ .block,
  .line.horizontal .block:nth-last-child(5):first-child ~ .block,
  .line.scroll .block:nth-last-child(5):first-child ~ .block {
    width: 200px;
  }
  .line .block:nth-last-child(6):first-child,
  .line.vertical .block:nth-last-child(6):first-child,
  .line .block:nth-last-child(6):first-child ~ .block,
  .line.vertical .block:nth-last-child(6):first-child ~ .block {
    width: 160px;
  }
  .line.horizontal .block:nth-last-child(6):first-child,
  .line.horizontal .block:nth-last-child(6):first-child ~ .block {
    width: 360px;
  }
}
@media (min-width: 1440px) {
  .line,
  .line.scroll {
    width: 100%;
  }
  .line .wrap,
  .line.scroll .wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  .line .block:nth-last-child(1):first-child,
  .line .block:nth-last-child(1):first-child ~ .block {
    width: 1160px;
  }
  .line.right-main .block:nth-last-child(2):first-child {
    width: 360px;
  }
  .line.right-main .block:nth-last-child(2):first-child ~ .block {
    width: 760px;
  }
  .line.left-main .block:nth-last-child(2):first-child {
    width: 760px;
  }
  .line.left-main .block:nth-last-child(2):first-child ~ .block {
    width: 360px;
  }
  .line .block:nth-last-child(2):first-child,
  .line.vertical .block:nth-last-child(2):first-child,
  .line.horizontal .block:nth-last-child(2):first-child,
  .line.scroll .block:nth-last-child(2):first-child,
  .line .block:nth-last-child(2):first-child ~ .block,
  .line.vertical .block:nth-last-child(2):first-child ~ .block,
  .line.horizontal .block:nth-last-child(2):first-child ~ .block,
  .line.scroll .block:nth-last-child(2):first-child ~ .block {
    width: 560px;
  }
  .line .block:nth-last-child(3):first-child,
  .line.vertical .block:nth-last-child(3):first-child,
  .line.horizontal .block:nth-last-child(3):first-child,
  .line.scroll .block:nth-last-child(3):first-child,
  .line .block:nth-last-child(3):first-child ~ .block,
  .line.vertical .block:nth-last-child(3):first-child ~ .block,
  .line.horizontal .block:nth-last-child(3):first-child ~ .block,
  .line.scroll .block:nth-last-child(3):first-child ~ .block {
    width: 360px;
  }
  .line .block:nth-last-child(4):first-child,
  .line.vertical .block:nth-last-child(4):first-child,
  .line.horizontal .block:nth-last-child(4):first-child,
  .line.scroll .block:nth-last-child(4):first-child,
  .line .block:nth-last-child(4):first-child ~ .block,
  .line.vertical .block:nth-last-child(4):first-child ~ .block,
  .line.horizontal .block:nth-last-child(4):first-child ~ .block,
  .line.scroll .block:nth-last-child(4):first-child ~ .block {
    width: 260px;
  }
  .line .block:nth-last-child(5):first-child,
  .line.vertical .block:nth-last-child(5):first-child,
  .line.horizontal .block:nth-last-child(5):first-child,
  .line.scroll .block:nth-last-child(5):first-child,
  .line .block:nth-last-child(5):first-child ~ .block,
  .line.vertical .block:nth-last-child(5):first-child ~ .block,
  .line.horizontal .block:nth-last-child(5):first-child ~ .block,
  .line.scroll .block:nth-last-child(5):first-child ~ .block {
    width: 200px;
  }
  .line .block:nth-last-child(6):first-child,
  .line.vertical .block:nth-last-child(6):first-child,
  .line .block:nth-last-child(6):first-child ~ .block,
  .line.vertical .block:nth-last-child(6):first-child ~ .block {
    width: 160px;
  }
  .line.horizontal .block:nth-last-child(6):first-child,
  .line.horizontal .block:nth-last-child(6):first-child ~ .block {
    width: 360px;
  }
}
@media (min-width: 1680px) {
  .line,
  .line.scroll {
    width: 100%;
  }
  .line .wrap,
  .line.scroll .wrap {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
  }
  .line .block:nth-last-child(1):first-child,
  .line .block:nth-last-child(1):first-child ~ .block {
    width: 1400px;
  }
  .line.right-main .block:nth-last-child(2):first-child {
    width: 440px;
  }
  .line.right-main .block:nth-last-child(2):first-child ~ .block {
    width: 920px;
  }
  .line.left-main .block:nth-last-child(2):first-child {
    width: 920px;
  }
  .line.left-main .block:nth-last-child(2):first-child ~ .block {
    width: 440px;
  }
  .line .block:nth-last-child(2):first-child,
  .line.vertical .block:nth-last-child(2):first-child,
  .line.horizontal .block:nth-last-child(2):first-child,
  .line.scroll .block:nth-last-child(2):first-child,
  .line .block:nth-last-child(2):first-child ~ .block,
  .line.vertical .block:nth-last-child(2):first-child ~ .block,
  .line.horizontal .block:nth-last-child(2):first-child ~ .block,
  .line.scroll .block:nth-last-child(2):first-child ~ .block {
    width: 680px;
  }
  .line .block:nth-last-child(3):first-child,
  .line.vertical .block:nth-last-child(3):first-child,
  .line.horizontal .block:nth-last-child(3):first-child,
  .line.scroll .block:nth-last-child(3):first-child,
  .line .block:nth-last-child(3):first-child ~ .block,
  .line.vertical .block:nth-last-child(3):first-child ~ .block,
  .line.horizontal .block:nth-last-child(3):first-child ~ .block,
  .line.scroll .block:nth-last-child(3):first-child ~ .block {
    width: 440px;
  }
  .line .block:nth-last-child(4):first-child,
  .line.vertical .block:nth-last-child(4):first-child,
  .line.horizontal .block:nth-last-child(4):first-child,
  .line.scroll .block:nth-last-child(4):first-child,
  .line .block:nth-last-child(4):first-child ~ .block,
  .line.vertical .block:nth-last-child(4):first-child ~ .block,
  .line.horizontal .block:nth-last-child(4):first-child ~ .block,
  .line.scroll .block:nth-last-child(4):first-child ~ .block {
    width: 320px;
  }
  .line .block:nth-last-child(5):first-child,
  .line.vertical .block:nth-last-child(5):first-child,
  .line.horizontal .block:nth-last-child(5):first-child,
  .line.scroll .block:nth-last-child(5):first-child,
  .line .block:nth-last-child(5):first-child ~ .block,
  .line.vertical .block:nth-last-child(5):first-child ~ .block,
  .line.horizontal .block:nth-last-child(5):first-child ~ .block,
  .line.scroll .block:nth-last-child(5):first-child ~ .block {
    width: 248px;
  }
  .line .block:nth-last-child(6):first-child,
  .line.vertical .block:nth-last-child(6):first-child,
  .line .block:nth-last-child(6):first-child ~ .block,
  .line.vertical .block:nth-last-child(6):first-child ~ .block {
    width: 200px;
  }
  .line.horizontal .block:nth-last-child(6):first-child,
  .line.horizontal .block:nth-last-child(6):first-child ~ .block {
    width: 440px;
  }
}
@media (min-width: 1920px) {
  .line,
  .line.scroll {
    width: 100%;
  }
  .line .wrap,
  .line.scroll .wrap {
    width: 1680px;
    height: 100%;
    margin: 0 auto;
  }
  .line .block:nth-last-child(1):first-child,
  .line .block:nth-last-child(1):first-child ~ .block {
    width: 1640px;
  }
  .line.right-main .block:nth-last-child(2):first-child {
    width: 520px;
  }
  .line.right-main .block:nth-last-child(2):first-child ~ .block {
    width: 1080px;
  }
  .line.left-main .block:nth-last-child(2):first-child {
    width: 1080px;
  }
  .line.left-main .block:nth-last-child(2):first-child ~ .block {
    width: 520px;
  }
  .line .block:nth-last-child(2):first-child,
  .line.vertical .block:nth-last-child(2):first-child,
  .line.horizontal .block:nth-last-child(2):first-child,
  .line.scroll .block:nth-last-child(2):first-child,
  .line .block:nth-last-child(2):first-child ~ .block,
  .line.vertical .block:nth-last-child(2):first-child ~ .block,
  .line.horizontal .block:nth-last-child(2):first-child ~ .block,
  .line.scroll .block:nth-last-child(2):first-child ~ .block {
    width: 800px;
  }
  .line .block:nth-last-child(3):first-child,
  .line.vertical .block:nth-last-child(3):first-child,
  .line.horizontal .block:nth-last-child(3):first-child,
  .line.scroll .block:nth-last-child(3):first-child,
  .line .block:nth-last-child(3):first-child ~ .block,
  .line.vertical .block:nth-last-child(3):first-child ~ .block,
  .line.horizontal .block:nth-last-child(3):first-child ~ .block,
  .line.scroll .block:nth-last-child(3):first-child ~ .block {
    width: 520px;
  }
  .line .block:nth-last-child(4):first-child,
  .line.vertical .block:nth-last-child(4):first-child,
  .line.horizontal .block:nth-last-child(4):first-child,
  .line.scroll .block:nth-last-child(4):first-child,
  .line .block:nth-last-child(4):first-child ~ .block,
  .line.vertical .block:nth-last-child(4):first-child ~ .block,
  .line.horizontal .block:nth-last-child(4):first-child ~ .block,
  .line.scroll .block:nth-last-child(4):first-child ~ .block {
    width: 380px;
  }
  .line .block:nth-last-child(5):first-child,
  .line.vertical .block:nth-last-child(5):first-child,
  .line.horizontal .block:nth-last-child(5):first-child,
  .line.scroll .block:nth-last-child(5):first-child,
  .line .block:nth-last-child(5):first-child ~ .block,
  .line.vertical .block:nth-last-child(5):first-child ~ .block,
  .line.horizontal .block:nth-last-child(5):first-child ~ .block,
  .line.scroll .block:nth-last-child(5):first-child ~ .block {
    width: 296px;
  }
  .line .block:nth-last-child(6):first-child,
  .line.vertical .block:nth-last-child(6):first-child,
  .line .block:nth-last-child(6):first-child ~ .block,
  .line.vertical .block:nth-last-child(6):first-child ~ .block {
    width: 240px;
  }
  .line.horizontal .block:nth-last-child(6):first-child,
  .line.horizontal .block:nth-last-child(6):first-child ~ .block {
    width: 520px;
  }
}
.wrap {
  border-width: 0 1px;
  border-color: #0ff;
  border-style: solid;
  -webkit-transition: inherit;
          transition: inherit;
}
.line {
  position: relative;
/*transition all .33s ease-in-out*/
}
.line:nth-of-type(odd) {
  background-color: #fff;
}
.line:nth-of-type(even) {
  background-color: #ededed;
}
.count {
  font-family: 'roboto';
  position: absolute;
  top: 20px;
  left: 20px;
  color: #2d4f7e;
}
.block {
  -webkit-transition: inherit;
          transition: inherit;
  min-height: 100px;
}
.block:nth-child(1) {
  background-color: #b6c8d6;
}
.block:nth-child(2) {
  background-color: #95a3af;
}
.block:nth-child(3) {
  background-color: #8da3bc;
}
.block:nth-child(4) {
  background-color: #577494;
}
.block:nth-child(5) {
  background-color: #24384f;
}
.block:nth-child(6) {
  background-color: #030910;
}
.flip-section {
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition: top 0.4s ease, opacity 0.6s ease 0.2s;
          transition: top 0.4s ease, opacity 0.6s ease 0.2s;
}
.button,
button {
  position: fixed;
  top: 40px;
  left: 40px;
  cursor: pointer;
  z-index: 150;
}
.black-out {
  background-color: rgba(0,0,0,0.5);
}
.popup {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.34s linear;
          transition: all 0.34s linear;
}
.popup.hide {
  z-index: -1;
  opacity: 0;
}
.popup.show {
  z-index: 8;
  opacity: 1;
}
.popup-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  cursor: pointer;
}
.popup-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 40px auto;
  -webkit-transition: inherit;
          transition: inherit;
  background-color: #fff;
  z-index: 9;
  cursor: default;
  width: 680px;
  height: 600px;
}
.popup-close {
  top: 30px;
  right: 30px;
  background-color: #000;
  width: 27px;
  height: 27px;
  z-index: 66666;
  position: absolute;
  cursor: pointer;
}
@import url("http://fonts.googleapis.com/css?family=Roboto:100,700,400&subset=cyrillic,latin");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.title-1 {
  font-size: 36px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.title-2 {
  font-size: 30px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.title-3 {
  font-size: 20px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
.text-l {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.text-m {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.text-s {
  font-size: 12px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.button,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  outline: 0;
  -webkit-transition: all 0.34s ease-in-out;
          transition: all 0.34s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  background-color: #13c5e9;
  border: 1px solid #13c5e9;
}
.button:hover,
button:hover {
  color: #13c5e9;
  border-color: #13c5e9;
  background-color: #fff;
}
.button:active,
button:active {
  border-width: 3px;
  color: #13c5e9;
  background-color: #fff;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label {
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  display: inline-block;
}
input[type=radio] + label:before {
  content: '';
  border: 1px solid #13c5e9;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 11px;
  border-radius: 100%;
  position: relative;
  box-shadow: inset 0 0 0 0 #13c5e9;
  box-sizing: border-box;
  padding: 5px;
}
input[type=radio] + label:hover:before {
  box-shadow: inset 0 0 0 1px #13c5e9;
}
input[type=radio]:checked + label:before {
  box-shadow: inset 0px 0px 0 3px #fff;
  background-color: #13c5e9;
  border-width: 1px;
}
.input,
input[type=text],
input[type=email],
textarea {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  border-color: #13c5e9;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-indent: 18px;
  outline: 0;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-transition: all 0.34s ease-in-out;
          transition: all 0.34s ease-in-out;
  color: #9e9e9e;
  background-color: #fff;
  vertical-align: top;
}
.input::-webkit-placeholder,
input[type=text]::-webkit-placeholder,
input[type=email]::-webkit-placeholder,
textarea::-webkit-placeholder,
.input::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
textarea::-moz-placeholder,
.input::-ms-placeholder,
input[type=text]::-ms-placeholder,
input[type=email]::-ms-placeholder,
textarea::-ms-placeholder {
  color: #9e9e9e;
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
.input:focus,
input[type=text]:focus,
input[type=email]:focus,
textarea:focus,
.input:active,
input[type=text]:active,
input[type=email]:active,
textarea:active,
.input:hover,
input[type=text]:hover,
input[type=email]:hover,
textarea:hover {
  color: #424242;
  border-color: #424242;
}
.input.error,
input[type=text].error,
input[type=email].error,
textarea.error {
  color: #e3505f;
  border-color: #e3505f;
}
.input.error::-webkit-placeholder,
input[type=text].error::-webkit-placeholder,
input[type=email].error::-webkit-placeholder,
textarea.error::-webkit-placeholder,
.input.error::-moz-placeholder,
input[type=text].error::-moz-placeholder,
input[type=email].error::-moz-placeholder,
textarea.error::-moz-placeholder,
.input.error::-ms-placeholder,
input[type=text].error::-ms-placeholder,
input[type=email].error::-ms-placeholder,
textarea.error::-ms-placeholder {
  color: #e3505f !important;
}
.input.valid,
input[type=text].valid,
input[type=email].valid,
textarea.valid {
  border-color: #13c5e9;
  color: #424242;
}
.input.valid::-webkit-placeholder,
input[type=text].valid::-webkit-placeholder,
input[type=email].valid::-webkit-placeholder,
textarea.valid::-webkit-placeholder,
.input.valid::-moz-placeholder,
input[type=text].valid::-moz-placeholder,
input[type=email].valid::-moz-placeholder,
textarea.valid::-moz-placeholder,
.input.valid::-ms-placeholder,
input[type=text].valid::-ms-placeholder,
input[type=email].valid::-ms-placeholder,
textarea.valid::-ms-placeholder {
  color: #424242 !important;
}
textarea {
  line-height: initial;
  padding: 20px 0 0;
  resize: none;
}
hr {
  border-style: solid;
  border-color: #000;
  margin: 10px 0;
  border-width: 1px 0 0 0;
  opacity: 0.7;
}
#ui-kit {
  padding: 3%;
}
#ui-kit .kit-header {
  margin: 2% 0 1%;
  padding-bottom: 1%;
}
#ui-kit .kit-header.head-1 {
  border-bottom: 2px solid #000;
}
#ui-kit .kit-header.text-l {
  border-bottom: 1px solid #000;
}
#ui-kit .kit-header.text-m {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
#ui-kit .color {
  display: block;
  width: 100%;
  height: 90px;
  line-height: 90px;
  padding-left: 15px;
}
#ui-kit .color.white {
  background-color: #fff;
}
#ui-kit .color.blue {
  background-color: section-blue;
}
#ui-kit .color.light-grey {
  background-color: #9e9e9e;
}
#ui-kit .color.dark-grey {
  background-color: #424242;
}
#ui-kit .color.red-flag {
  background-color: #e3505f;
}
#ui-kit .demo-button-label {
  margin: 1% 0;
}
#ui-kit .input {
  margin: 1% 0;
}
body {
  position: relative;
  height: 100vh;
}
.content {
  padding-top: 30px;
  background-color: #f5f5f5;
  color: #000;
}
.content.left-side {
  padding-left: sidebar-width;
}
.content.right-side {
  padding-right: sidebar-width;
}
.header {
  background-color: #0f0f0f;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  z-index: 4;
}
.footer {
  width: 100%;
  background-color: #0f0f0f;
  color: #fff;
  position: absolute;
  bottom: -100px;
  left: 0px;
  height: 100px;
}
.sidebar {
  padding-top: 30px;
  background-color: #f5f5f5;
  color: #000;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  top: 0;
  width: sidebar-width;
}
.sidebar.left {
  border-right: 1px dashed #000;
  left: 0;
}
.sidebar.right {
  border-left: 1px dashed #000;
  left: initial;
  right: 0;
}
