block-margin = 20

#grid
	width 100%

.line
	height 100%
	display block
	.block
		box-sizing border-box
		display inline-block
		vertical-align top
		font-size 14px
		overflow hidden
		margin block-margin px


grid(wrap-width)

	.line,.line.scroll
		width 100%
		.wrap
			width wrap-width
			height 100%
			margin 0 auto

	.line

		.block:nth-last-child(1):first-child,.block:nth-last-child(1):first-child ~ .block
			w = wrap-width/1 - (block-margin*2)
			width w px


	.line.right-main
		.block:nth-last-child(2):first-child
			w = wrap-width/3 - (block-margin*2)
			width w px

		.block:nth-last-child(2):first-child ~ .block
			w = wrap-width - (wrap-width/3 + (block-margin*2))
			width w px


	.line.left-main
		.block:nth-last-child(2):first-child
			w = wrap-width - (wrap-width/3 + (block-margin*2))
			width w px

		.block:nth-last-child(2):first-child ~ .block
			w = wrap-width/3 - (block-margin*2)
			width w px



	if wrap-width == 280px


		.line.right-main,.line.left-main

			.block:nth-last-child(2):first-child,.block:nth-last-child(2):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w


		.line,.line.vertical,.line.horizontal

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block,
			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w

			.block:nth-last-child(5):first-child,.block:nth-last-child(5):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w

		.line.vertical

			.block:nth-last-child(2):first-child,.block:nth-last-child(2):first-child ~ .block,
			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width/2 - (block-margin*2)
				width w px


		.line.horizontal

			.block:nth-last-child(2):first-child,.block:nth-last-child(2):first-child ~ .block,
			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w


		.line.scroll
			overflow scroll
			width 90%
			margin 0 auto

			.wrap
				width 5000px
				overflow initial

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block,
			.block:nth-last-child(5):first-child,.block:nth-last-child(5):first-child ~ .block,
			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w
				float left


	else if wrap-width == 720px


		.line.vertical

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block
				w = wrap-width/3 - (block-margin*2)
				width w px

			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width/2 - (block-margin*2)
				width w px


			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width/3 - (block-margin*2)
				width w px


		.line.horizontal

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block,
			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w


			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width/2 - (block-margin*2)
				width w px


			.block:nth-last-child(5):first-child,.block:nth-last-child(5):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w px


		.line.scroll
			overflow scroll
			width 90%
			margin 0 auto

			.wrap
				width 5000px
				overflow initial
			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block,
			.block:nth-last-child(5):first-child,.block:nth-last-child(5):first-child ~ .block,
			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width/2 - (block-margin*2)
				width w
				float left


	else
		.line,.line.vertical,.line.horizontal,.line.scroll

			.block:nth-last-child(2):first-child,.block:nth-last-child(2):first-child ~ .block
				w = wrap-width/2 - (block-margin*2)
				width w px

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block
				w = wrap-width/3 - (block-margin*2)
				width w px


			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width/4 - (block-margin*2)
				width w px


			.block:nth-last-child(5):first-child,.block:nth-last-child(5):first-child ~ .block
				w = wrap-width/5 - (block-margin*2)
				width w px



		.line
			&,&.vertical
				.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
					w = wrap-width/6 - (block-margin*2)
					width w px

			&.horizontal
				.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
					w = wrap-width/3 - (block-margin*2)
					width w px



@media (min-width 320px)
	grid(280px)

@media (min-width 768px)
	grid(720px)

@media (min-width 1024px)
	grid(960px)

@media (min-width 1280px)
	grid(1200px)

@media (min-width 1440px)
	grid(1200px)

@media (min-width 1680px)
	grid(1440px)

@media (min-width 1920px)
	grid(1680px)