first-child = #b6c8d6
second-child = #95a3af
third-child = #8DA3BC
fourth-child = #577494
fifth-child = #24384F
sixth-child = #030910

block-margin = 20

#content
	width 100%

.line
	width 100%
	display block
	.block
		box-sizing border-box
		min-height 100px
		display inline-block
		vertical-align top
		margin block-margin px
		font-size 14px
		overflow hidden

		&:nth-child(1)
			background-color first-child
		&:nth-child(2)
			background-color second-child
		&:nth-child(3)
			background-color third-child
		&:nth-child(4)
			background-color fourth-child
		&:nth-child(5)
			background-color fifth-child
		&:nth-child(6)
			background-color sixth-child


grid(wrap-width)
	.wrap
		width wrap-width
		margin 0 auto

	.line
		.block:nth-last-child(1):first-child,.block:nth-last-child(1):first-child ~ .block
			w = wrap-width/1 - (block-margin*2)
			width w px

		.block:nth-last-child(2):first-child,.block:nth-last-child(2):first-child ~ .block
			w = wrap-width/2 - (block-margin*2)
			width w px

	.line.right-main
		.block:nth-last-child(2):first-child
			w = wrap-width/3 - (block-margin*2)
			width w px

		.block:nth-last-child(2):first-child ~ .block
			w = wrap-width - (wrap-width/3 + (block-margin*2))
			width w px

	.line.left-main
		.block:nth-last-child(2):first-child
			w = wrap-width - (wrap-width/3 + (block-margin*2))
			width w px

		.block:nth-last-child(2):first-child ~ .block
			w = wrap-width/3 - (block-margin*2)
			width w px


	if wrap-width == 280px

		.line.right-main,.line.left-main

			.block:nth-last-child(2):first-child,.block:nth-last-child(2):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w


		.line,.line.vertical,.line.horizontal

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block,
			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w


		.line.vertical

			.block:nth-last-child(2):first-child,.block:nth-last-child(2):first-child ~ .block,
			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width/2 - (block-margin*2)
				width w px


		.line.horizontal

			.block:nth-last-child(2):first-child,.block:nth-last-child(2):first-child ~ .block,
			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w



	else if wrap-width == 720px


		.line.vertical

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block
				w = wrap-width/3 - (block-margin*2)
				width w px

			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width/2 - (block-margin*2)
				width w px


			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width/3 - (block-margin*2)
				width w px


		.line.horizontal

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block,
			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width - (block-margin*2)
				width w


			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width/2 - (block-margin*2)
				width w px



	else
		.line,.line.vertical,.line.horizontal

			.block:nth-last-child(3):first-child,.block:nth-last-child(3):first-child ~ .block
				w = wrap-width/3 - (block-margin*2)
				width w px


			.block:nth-last-child(4):first-child,.block:nth-last-child(4):first-child ~ .block
				w = wrap-width/4 - (block-margin*2)
				width w px


			.block:nth-last-child(6):first-child,.block:nth-last-child(6):first-child ~ .block
				w = wrap-width/6 - (block-margin*2)
				width w px





@media (min-width 320px)
	grid(280px)

@media (min-width 768px)
	grid(720px)

@media (min-width 1024px)
	grid(960px)

@media (min-width 1280px)
	grid(1200px)

@media (min-width 1440px)
	grid(1200px)

@media (min-width 1680px)
	grid(1440px)

@media (min-width 1920px)
	grid(1680px)