primary-white = #ffffff
text-blue = #50E3C2
text-blue = #13C5E9
light-grey = #9E9E9E
dark-grey = #424242
red-flag = #E3505F

title-1 = 36px
title-2 = 30px
title-3 = 20px
text-l = 18px
text-m = 14px
text-s = 12px



@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400&subset=cyrillic,latin);



font(weight = 400)
	font-family 'Roboto', sans-serif
	font-weight weight

transition(time = .34s)
	transition all time ease-in-out





body
	font()

.title-1
	font-size title-1
	line-height 40px
	font(700)

.title-2
	font-size title-2
	line-height 40px
	font()

.title-3
	font-size title-3
	line-height 20px
	font(200)

.text-l
	font-size text-l
	line-height 20px
	font()

.text-m
	font-size text-m
	line-height 20px
	font()

.text-s
	font-size text-s
	line-height 20px
	font()



button(static-color, static-bg, hover-color, hover-bg, active-color, active-bg)
	color static-color
	background-color static-bg
	border 1px solid static-bg

	&:hover
		color hover-color
		border-color hover-color
		background-color hover-bg

	&:active
		border-width 3px
		color active-color
		background-color active-bg

.button
	font(600)
	font-size text-m
	height 60px
	line-height 60px
	display inline-block
	outline 0
	transition()
	cursor pointer
	text-decoration none
	text-align center
	box-sizing border-box

	button(primary-white, text-blue, text-blue, primary-white, text-blue, primary-white)

button
	@extend .button



input[type=radio]
	display none


	& + label
		font-size text-m
		cursor pointer
		margin-right 20px
		display inline-block

		&:before
			content ''
			border 1px solid text-blue
			display inline-block
			width 12px
			height 12px
			margin-right 11px
			border-radius 100%
			position relative
			box-shadow inset 0 0 0 0 text-blue
			box-sizing border-box
			padding 5px

		&:hover
			&:before
				box-shadow inset 0 0 0 1px text-blue


	&:checked + label:before
		box-shadow inset 0px 0px 0 3px #fff
		background-color text-blue
		border-width 1px



.input
	error = #E3505F

	width 100%
	height 40px
	line-height 40px
	border 1px solid
	border-color text-blue
	font-size text-s
	font(200)
	text-indent 18px
	outline 0
	box-sizing border-box
	box-shadow none
	transition()
	color light-grey
	background-color #fff
	vertical-align top

	&::-webkit-placeholder,
	&::-moz-placeholder,
	&::-ms-placeholder
		color light-grey
		font-size inherit
		font(200)

	&:focus,&:active,&:hover
		color dark-grey
		border-color dark-grey

	&.error
		color error
		border-color error

		&::-webkit-placeholder,
		&::-moz-placeholder,
		&::-ms-placeholder
			color error !important

	&.valid
		border-color text-blue
		color dark-grey

		&::-webkit-placeholder,
		&::-moz-placeholder,
		&::-ms-placeholder
			color dark-grey !important

input[type=text]
input[type=email]
textarea
	@extends .input

textarea
	line-height initial
	padding 20px 0 0
	resize none



hr
	border-style solid
	border-color black
	margin 10px 0
	border-width 1px 0 0 0
	opacity .7


