#ui-kit-demo
	padding 3%
	background-color rgb(242,242,242)

	.kit-header
		margin 2% 0 1%
		padding-bottom 1%

		&.head-1
			border-bottom 2px solid #000

		&.text-l
			border-bottom 1px solid black

		&.text-m
			border-bottom 1px solid rgba(0,0,0,.2)

	.color
		display block
		width 100%
		height 90px
		line-height 90px
		padding-left 15px

		&.white
			background-color white

		&.black
			background-color black
			color #ffffff

		&.dark-grey
			background-color dark-grey

		&.firm-blue
			background-color firm-blue

		&.darken-grey
			background-color darken-grey
			color #ffffff

		&.lighter-grey
			background-color lighter-grey
			color #ffffff

		&.pink-red
			background-color pink-red

		&.salad-green
			background-color salad-green



	.demo-button-label
		margin 1% 0


	.button
		margin-right 20px


	.input
		margin 1% 0