//5. UI-kit
///5.0 Переменные и функции
////5.0.1 Шрифты
@import url(http://fonts.googleapis.com/css?family=Roboto:100,700,400&subset=cyrillic,latin);
@import url(http://webfonts.ru/import/ralewayc.css);

roboto(weight = 400)
	font-family 'Roboto', sans-serif
	font-weight weight

raleway(weight = 400)
	font-family 'Raleway'
	font-weight weight

georgia(weight = 400)
	font-family 'Georgia'
	font-weight weight


////5.0.2 Цвета
white = #ffffff
true-black = #000000

dark-grey = #9E9E9E
firm-blue = #4A90E2

darken-grey = #444444
lighter-grey = #535353

pink-red = #FF6666
salad-green = #7ED321


////5.0.3 Анимация
transition(time = .28s)
	transition all time ease-in-out





body
	raleway()

///5.1 Типографика

.title-1
	font-size 36px
	line-height 40px
	raleway(700)

title-1()
	@extend .title-1


.title-2
	font-size 24px
	line-height 40px
	raleway(700)

title-2()
	@extend .title-2


.title-3
	font-size 20px
	line-height 20px
	raleway(700)

title-3()
	@extend .title-3


.text-l
	font-size 18px
	line-height 20px
	raleway()
text-l()
	@extend .text-l


.text-m
	font-size 14px
	line-height 20px
	raleway()

text-m()
	@extend .text-m


.text-s
	font-size 12px
	line-height 20px
	raleway()

text-s()
	@extend .text-s



///5.2 Кнопки
.button
	font(600)
	font-size text-m
	padding 10px 20px
	letter-spacing .5px
	display inline-block
	outline 0
	transition()
	cursor pointer
	text-decoration none
	text-align center
	box-sizing border-box
	color white
	box-shadow inset 0 0 100px 100px firm-blue

	&:hover
		box-shadow inset 0 0 0 1px firm-blue
		color firm-blue
		text-decoration none

	&:active
		box-shadow inset 0 0 100px 100px firm-blue
		color white
		text-decoration none


	&.menu
		color black
		background-color white
		box-shadow inset 0 0 0 0 firm-blue

		&:hover
			color true-black
			box-shadow inset 0 0 0 3px firm-blue
			background-color white

		&:active
			color white
			box-shadow inset 0 0 100px 100px firm-blue

button
	@extend .button



///5.3 Ссылки
.link
	raleway(700)
	font-size text-m
	color dark-grey
	border-bottom 2px solid firm-blue
	text-decoration none
	transition()
	&:hover, &:active
		padding-bottom 3px
		color firm-blue


//этот родитель требуется для того, чтобы не дёргались его дети
form#person-qty
	height 46px
	line-height 46px


///5.4 Радио боксы
input[type=radio]
	display none

	& + label
		font-size text-m
		cursor pointer
		margin-right 20px
		display inline-block
		vertical-align middle
		transition()

		&:before
			content ''
			display inline-block
			width 10px
			height 10px
			margin-right 11px
			border-radius 100%
			position relative
			background-color #ffffff
			border-width 5px
			border-style solid
			border-color transparent
			vertical-align inherit
			transition()


	&:checked + label:before
		border-color firm-blue


	&.person-qty + label
		text-align center
		border-radius 100%
		width 40px
		height 40px
		line-height 40px
		border 1px solid dark-grey
		color dark-grey
		roboto()

		&:before
			display none

	&.person-qty:checked + label
		width 46px
		height 46px
		line-height 46px
		border 1px solid firm-blue
		color #ffffff
		roboto(700)
		background-color firm-blue


///5.5 Поля ввода
.input-label
	raleway()
	padding-left 10px
	color dark-grey
	@extend .text-m


.input
	width 100%
	height 40px
	line-height 40px
	border 1px solid
	border-color #EBEBEB
	font-size text-m
	raleway()
	text-indent 10px
	outline 0
	box-sizing border-box
	box-shadow none
	transition()
	background-color #EBEBEB
	color dark-grey
	vertical-align top

	&::-webkit-placeholder,
	&::-moz-placeholder,
	&::-ms-placeholder
		color dark-grey
		font-size inherit
		raleway()


	&.error
		color pink-red
		border-color pink-red

	&.valid
		border-color salad-green
		color black


input[type=text]
input[type=email]
textarea
	@extends .input

textarea
	line-height initial
	padding 20px 0 0
	resize none




hr
	border-style solid
	border-color black
	margin 10px 0
	border-width 1px 0 0 0
	opacity .7

