doctype html
html(lang="en")

	head
		meta(charset='UTF-8')
		title Flip-animation
		link(rel='stylesheet', href='./css/style.css')
		link(rel="icon", href="img/favicon.png")

	body

		#flip-animation

			.call.button(data-bind="popUpOpen") PopUp

			.popup.hide

				.popup-close(data-bind="popUpClose")

				.popup-wrapper(data-bind="popUpClose")

				.popup-container



			-for(var i = 1; i<=20; i++)
				.line.flip-section
					.wrap
						.block

		script(src='js/flip_animation.js')