doctype html
html(lang='en')

	head
		meta(charset='UTF-8')
		title Sexy-CSS
		link(rel='stylesheet', href='css/style.css')
		link(rel="icon", href="img/favicon.png")

	body

		#grid

			.line
				p.count 1
				.wrap
					.block



			.line
				p.count 2
				.wrap
					- for(i=1; i<=2; i++)
						.block

			.line.right-main
				p.count 2 right-main
				.wrap
					- for(i=1; i<=2; i++)
						.block

			.line.left-main
				p.count 2 left-main
				.wrap
					- for(i=1; i<=2; i++)
						.block



			.line.vertical
				p.count 3 vertical
				.wrap
					- for(i=1; i<=3; i++)
						.block

			.line.horizontal
				p.count 3 horizontal
				.wrap
					- for(i=1; i<=3; i++)
						.block



			.line.vertical
				p.count 4 vertical
				.wrap
					- for(i=1; i<=4; i++)
						.block

			.line.horizontal
				p.count 4 horizontal
				.wrap
					- for(i=1; i<=4; i++)
						.block



			.line.vertical
				p.count 6 vertical
				.wrap
					- for(i=1; i<=6; i++)
						.block

			.line.horizontal
				p.count 6 horizontal
				.wrap
					- for(i=1; i<=6; i++)
						.block