doctype html
html(lang="en")

	head
		meta(charset='UTF-8')
		title Sexy-CSS
		link(rel='stylesheet', href='css/style.css')
		link(rel="icon", href="img/favicon.png")

	body

		header.header header

		.sidebar-toggle
			span
		.blackout.hide
		aside.sidebar.left.hide left sidebar

		main.content.left-side.right-side
			h1 Content
				.block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, architecto atque consequuntur dolores est illo labore magni rerum sit voluptate? Dolorem dolores ea ipsum laborum minus, nulla voluptatum? Atque, fugiat.</div>
				.block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, architecto atque consequuntur dolores est illo labore magni rerum sit voluptate? Dolorem dolores ea ipsum laborum minus, nulla voluptatum? Atque, fugiat.</div>
				.block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, architecto atque consequuntur dolores est illo labore magni rerum sit voluptate? Dolorem dolores ea ipsum laborum minus, nulla voluptatum? Atque, fugiat.</div>
				.block Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, architecto atque consequuntur dolores est illo labore magni rerum sit voluptate? Dolorem dolores ea ipsum laborum minus, nulla voluptatum? Atque, fugiat.</div>


		aside.sidebar.right right sidebar

		footer.footer footer


		script(src="js/adaptive.js")