doctype html
html(lang="en")

	head
		meta(charset='UTF-8')
		title Sexy-CSS
		link(rel='stylesheet', href='css/style.css')
		link(rel="icon", href="img/favicon.png")

	body

		#ui-kit

			.kit-header.text-l Colors

			.kit-header.text-m primary-white
			.color.white #FFFFFF

			.kit-header.text-m section-blue
			.color.blue #50E3C2

			.kit-header.text-m light-grey
			.color.light-grey #9E9E9E

			.kit-header.text-m dark-grey
			.color.dark-grey #424242

			.kit-header.text-m red-flag
			.color.red-flag #E3505F



			.kit-header.title-1 Typography

			.kit-header.text-l Titles
			h1.title-1 Title 1
			h2.title-2 Title 2
			h3.title-3 Title 3

			.kit-header.text-l Text
			p.text-l Text 18pt
			p.text-m Text 14pt
			p.text-s Text 12pt



			.kit-header.text-l Buttons

			p.text-s.demo-button-label Primary button
			a(href='').button Отправить заявку


			.kit-header.text-l Radiobuttons

			input(type='radio', name='demo-radio-group')#demo-radio-yes
			label(for='demo-radio-yes') Инвестировать

			input(type='radio', name='demo-radio-group')#demo-radio-no
			label(for='demo-radio-no') Не инвестировать



			.kit-header.text-l Input
			input(type='text', placeholder='ФИО...').input
			input(type='text', placeholder='ФИО...').input.valid
			input(type='text', placeholder='ФИО...').input.error