doctype html
html(lang='en')

	head

		meta(charset='UTF-8')
		title Rock-CSS

		link(rel='stylesheet', href='css/style.css')

		link(rel="icon", href="img/favicon.png")

	body

		#wrap

			p.count 1
			.line
				.block



			p.count 2
			.line
				- for(i=1; i<=2; i++)
					.block

			p.count 2 right-main
			.line.right-main
				- for(i=1; i<=2; i++)
					.block

			p.count 2 left-main
			.line.left-main
				- for(i=1; i<=2; i++)
					.block



			p.count 3 vertical
			.line.vertical
				- for(i=1; i<=3; i++)
					.block

			p.count 3 horizontal
			.line.horizontal
				- for(i=1; i<=3; i++)
					.block



			p.count 4 vertical
			.line.vertical
				- for(i=1; i<=4; i++)
					.block

			p.count 4 horizontal
			.line.horizontal
				- for(i=1; i<=4; i++)
					.block



			p.count 6 vertical
			.line.vertical
				- for(i=1; i<=6; i++)
					.block

			p.count 6 horizontal
			.line.horizontal
				- for(i=1; i<=6; i++)
					.block